STRAVA_CLIENT_ID=
STRAVA_CLIENT_SECRET=
STRAVA_WEBHOOK_VERIFY_TOKEN=
JWT_SECRET=supersecretjwtkey
DATABASE_URL=postgresql://user:pass@db:5432/stravaxp
FRONTEND_URL=http://localhost:4200
API_URL=http://localhost:3000
NODE_ENV=development


curl -X POST https://www.strava.com/api/v3/push_subscriptions \
  -F client_id=248305 \
  -F client_secret=bc5c1c10b0dfcf1e15476772f2915b9037fd2104 \
  -F callback_url=https://localhost:8080/api/webhooks/strava \
  -F verify_token=VOTRE_VERIFY_TOKEN
