STRAVA_CLIENT_ID=
STRAVA_CLIENT_SECRET=
STRAVA_WEBHOOK_VERIFY_TOKEN=
JWT_SECRET=supersecretjwtkey
DATABASE_URL=postgresql://stravaxp_user:stravaxp_pass@db:5432/stravaxp
DB_USER=stravaxp_user
DB_PASSWORD=stravaxp_pass
FRONTEND_URL=https://sport-xp.duckdns.org
API_URL=https://sport-xp.duckdns.org/api
NODE_ENV=production
